@import "shared/main-variables.css";
@import "shared/nav.css";
@import "shared/button.css";
@import "./shared/font.css";
@import "./shared//form.css";
@import "./shared//author.css";
@import "./shared//book.css";

html{
  margin: 0;
padding: 0;
box-sizing: border-box;
}
:root {
  font-size: 20px;
  font-family: "Gotham rounded";
  color: var(--color-text-light);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(
    to right,
    var(--color-background-dark),
    var(--color-background-light)
  );
  height: 100vh;
}

.container {
  margin: auto;
  margin-bottom: 3rem;
  padding:1rem;
  width:100%;
}
.row{
  display:flex;
  margin: 0 2rem;
  flex-direction:column;
  flex-wrap: wrap;
   
}

.row.center{
 justify-content: center;
}

.body-container {
  margin:0 5rem;
}

.page-header {
  font-size: 1.5rem;
  margin-bottom:1rem;
}
.errMessage{
    color:hsl(0,100%,50%)
}


/* up to a maximum of 700 */
@media screen and (max-width:700px){   
   body{
     width: 100%;
     height: 100vh;
     }
     .body-container {
      margin:0 2rem;
    }
    .page-header {
      font-size: 1.25rem;
      margin-bottom:1rem;
    }
}




